[defaults]
inventory = inventory.ini

# Emplacement temporaire distant (STANDARD PROD)
remote_tmp = /tmp/.ansible-${USER}

# Sécurité / stabilité
host_key_checking = False
retry_files_enabled = False
timeout = 30
interpreter_python = auto_silent

# Logs (recommandé)
log_path = ./ansible.log

